{% extends "housing/base.html" %}
{% block content %}
<div class="search-box-glam">
    <h1 class="text-gradient">Smart Search</h1>
    <p>Find a room based on your budget and preference.</p>
    <form action="" method="GET">
        <div class="input-group">
            <input type="text" name="q" placeholder="Where do you want to live?">
        </div>
        <div style="margin-top: 2rem;">
            <button type="submit" class="btn-primary">Search Availability</button>
        </div>
    </form>
</div>
{% endblock %}